@font-face {
	font-family: "Questa";
	src: url("../fonts/questa-grande-400-normal.woff2") format("woff2"),
}

@font-face {
    font-family: 'Calibri Light';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/calibril.woff') format('woff');
}

body {
	margin: 0;
	font-family: 'Calibri Light', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#main {
	width: 100%;
    height: 100vh;
	display: grid;
}

#header {
	background-color: #F3F3F3;

	.c-cir {
		position: relative;
		width: 100px;
		background-color: black;
		border-radius: 100%;
	}

	.c-cir:after {
		display: block;
		content: "";
		padding-bottom: 100%;
	}

	.t-cir {
		font-family: serif;
		display: inline-block;
		color: white;
		position: absolute;
		width: 100%;
		height: 100%;
		text-align: center;
		margin-top: 30px;
	}

	#nav {
		#ul {
			list-style: none;
			letter-spacing: 1px;
			font-size: 20px;
			
			li {
				&:hover {
					opacity: .5;
					transition: .2s ease-in-out;
					cursor: pointer;
				}
				&:active {
					opacity: .0;
					transition: .1s ease-in-out;
				}
				
				input {
					display: none;
				}
			}
		}
	} 
}

#home {
	h1 {
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 4px;
		font-family: 'Questa', 'Times New Roman', Times, serif;
	}
}

#univers {
	flex-direction: column;
	
}

#univershome {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	h2 {
		font-size: 70px;
		margin-top: -100px;
	}

	div {
		width: 70%;
	}
}

.slide {
	min-height: 100vh;
	
	h2 {
		font-size: 35px;
		font-family: 'Questa', 'Times New Roman', Times, serif;
		text-transform: uppercase;
		color: black;
	}
	
	div {
		font-size: 20px;
		color: #535353;
	}
}

.text-on-img {
	position: relative;
	text-align: center;
	color: white;
	display: inline-block;
	
	div {
		opacity: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: white;
		font-size: 22px;
		pointer-events: none;
	}
	span {
		opacity: 0;
		position: absolute;
		top: 90%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: grey;
		font-style: italic;
		font-size: 12px;
		pointer-events: none;
	}
}

#cultures_du_monde, #musique, #films, #style, #illustratrice, #renaissance, #numerique, #poesie, #nature, #designinterieur, #inspiration {
	display: flex;
	flex-direction: column;
	
	h2 {
		margin: auto auto 50px auto;
		width: 70%;
	}
	
	.text-imgs {
		display: grid;
		grid-template-columns: 40% 60%;
		
		.text {
			width: 70%;
			margin: auto;
		}
	}
}

@media (max-width: 768px) {
	#main {
    	grid-template-areas: "h"
							 "s";
	}
	
	#header {
	}
}

@media (min-width: 769px) and (max-width: 1023px) {
	#main {
		grid-template-areas: "h"
							 "s";
	}
	#header {
	}
}

@media (min-width: 1024px) {
	#main {
        grid-template-columns: 15% 85%;
	}
	
	#header {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		
		#nav {
			height: 70%;
			
			#ul {
				li {
					margin-top: 50%;
				}
			}
		}
	}
	
	#home {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 50px;
	}
}